---
title:		Header
section:	Components
theme:		Content
status:		Backlog
department: All
discuss:	https://designpatterns.hackpad.com/VXZSfnj33dn
---
<div class="hack_iframe-content js-iframe-controls">
    <div class="hack_iframe-controls">
    <button class="hack_button hack_button--resize js-iframe-resize-btn" value="small">Small</button>
    <button class="hack_button hack_button--resize js-iframe-resize-btn" value="medium">Medium</button>
    <button class="hack_button hack_button--resize js-iframe-resize-btn" value="large">Large</button>
</div>
<div class="hack_example js-iframe">
    <div class="hack_desktop-img">
        <img src="header-desktop.png" alt="header" />
    </div>
    <div class="hack_tablet-img">
        <img src="header-tablet.png" alt="header" />
    </div>
    <div class="hack_mobile-img">
        <img src="header-mobile.png" alt="header" />
    </div>
</div>
